# API Configuration
API_HOST=127.0.0.1
API_PORT=8000

# LLM Configuration
GROQ_API_KEY=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
HUGGINGFACE_API_KEY=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

# Scraping Configuration
MIN_COMMENTS=500
MAX_SCRAPE_ITERATIONS=2